@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c81322;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #767171;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url('/backpattern.png'); 
  background-repeat: repeat; /* 繰り返し */
  background-size: cover; /* 画像のサイズを自動に */
  background-position: center; /* 繰り返しの基準位置 */
  font-family: Arial, Helvetica, sans-serif;
}
