@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c81322;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #767171;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url('/backpattern.png'); 
    background-size: cover;
  background-position: center center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像が繰り返さないようにする */
  font-family: Arial, Helvetica, sans-serif;
}
